* {
	font-family: Arial;
}

body {
	background-color: #500075;
}
#navbar {
	position: fixed;
	background-color: #151515;
	width: 101vw;
	height: 15vh;
	margin-left: -1%;
	margin-right: -1%;
	margin-top: -1%;
	border-bottom-style: solid;
}
#navbar h1 {
	margin-right: 5vw;
	margin-top: 0%;
	font-size: 500%;
	float: right;
	color: #FFFFFF;
}
#sidebar {
	position: fixed;
	background-color: #000000;
	width: 25vw;
	height: 100vh;
	margin-left: -24%;
}
#sidebar:hover {
	margin-left: -1%;
}
#main {
	width: 70vw;
	height: 100vh;
	margin-right: 10vw;
	background-color: #995099;
	float:right;
}